doctype html
html
    head
        style
            include css/style.css
    body
        div
            block content
            div.footer
                | Best regards,
                br
                | Node team
                br
                a(href=frontendUrl) OUR WEBSITE