<%- include('../includes/header.ejs') %>
<div class="main">
    <h3>Dear, <%= user.name %>!</h3>
    <p>Your account's data was updated to: <%= user.name %></p>
</div>
<%- include('../includes/footer.ejs') %>
